*{
    margin: 0;
    box-sizing: border-box;

}
 
body{
    background-image: url("/media/galaxia.jpg")  ;
    background-repeat: no-repeat;
   scrollbar-arrow-color: aqua;
}


header{
    width: 100%;
    background-color: rgba(240, 248, 255, 0.359) ; 
    height: 60px;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
}

header .container{
    background-color: black;
    width: 40px;
    border-radius: 50%;
   
    
  
    
}
.container a{
    color: white;
    font-size: 30px;
    font-weight: bold;



}

header nav{
    
    align-items: center;
}
header  a{
    padding: 5px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin-right: 17px;
}

header nav a:hover{
    border: 1px solid black;
    border-radius: 10px;

}




.contenedor{
    display:  flex;
     flex-direction: column;
   
}

.contenedor-conciertos{
    margin-top: 30px;
    display:  flex;
    justify-content: center;
    align-items: center;
   flex-wrap: wrap;
    
  
    
}


.card{
    width: 200px;
    height: 200px;
   color: white;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
}

.bzrp{
    background-image: linear-gradient(
        0deg,
         rgba(0,0,0,0.5),
         rgba(0,0,0,0.5)

      )
        ,url("media/bizarap.jpg");
        background-position:center center;
        background-size: cover;

}


.badbunny{
    background-image: linear-gradient(
        0deg,
         rgba(0,0,0,0.5),
         rgba(0,0,0,0.5)

      )
        ,url("media/badbu.jpg");
        background-position:center cente;
        background-size: cover;
}



.jbalvin{
    background-image: linear-gradient(
        0deg,
         rgba(0,0,0,0.5),
         rgba(0,0,0,0.5)

      )


        ,url("media/jbalvin.jpg");
        background-position:center center;
        background-size: cover;
}



.ye{
    background-image: linear-gradient(
        0deg,
         rgba(0,0,0,0.5),
         rgba(0,0,0,0.5)

      )
        ,url("media/nelsito..jpg");
        background-position:center center;
        background-size: cover;
}

.card:hover{
    width: 220px;
    height: 220px;
    transition: .2s;
}


.nombre{
    color: aliceblue;
    text-align: center;
    font-size: 26px;
}

@media (max-width: 470px){

    body{
        background-color: black;
    }
 header{
     height: 150px;
     flex-direction: column;
     justify-content: center;
     background-color: aliceblue;
 }

 header .container
 {
    margin-left: 140px;
 }

    header nav{
        margin-top: 10px;
       display: flex;
       flex-direction: column;

    }

    .nombre{
        background-color: black;
    }

}
